.lib-list-items table {  
  width: 100%;  
}

.lib-list-items thead td {  
    color: beige;
    font-weight: 700;
    background-color: #282c34;
}

.lib-list-items td+td  {
    border-left: 3px solid #282c34;    
}

.lib-list-items thead td {
    text-align: center;
    padding-bottom: 7px;
}